@model HoaLacLaptopShop.Models.User
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            <span>@(Model.Gender ? "Male" : "Female")</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Roles
        </dt>
        <dd class="col-sm-10">
            <span>@(Model.IsAdmin ? "Admin " : "")</span>
            <span>@(Model.IsMarketing ? "Marketing " : "")</span>
            <span>@(Model.IsSales ? "Sales" : "")</span>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" "Edit" asp-route-id="@Model?.ID">Edit</a>
    @if (Model?.IsDisabled == true)
    {
        <form id="enableForm" asp-action="Reenable" hidden>
            <input type="hidden" asp-for="ID" />
        </form>
        <div class="btn btn-primary" onclick="confirmEnable()">Enable</div>
    }
    else
    {
        <form id="disableForm" asp-action="Disable" hidden>
            <input type="hidden" asp-for="ID" />
        </form>
        <div class="btn btn-danger" onclick="confirmDisable()">Disable</div>
    }
    <a class="btn btn-primary" asp-action="OrderHistory" asp-route-id="@Model?.ID">Order History</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts 
{
    <script type="text/javascript">
        function confirmEnable() 
        {
            var confirmation = confirm("Are you sure you want to enable this user?");
            if (confirmation) $('#enableForm').submit();
        }
        function confirmDisable() 
        {
            var confirmation = confirm("Are you sure you want to disable this user?");
            if (confirmation) $('#disableForm').submit();
        }
    </script>
}
