@using HoaLacLaptopShop.Areas.Administration.ViewModels
@model UserIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<partial 
    name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml" 
    model="@(new{ Heading = "Users", Subheading = $"List"})" 
/>
<a asp-action="Add" class="btn btn-primary">Add</a>
<hr/>

<form asp-action="Index" method="get">

    <div class="form-group" style="width: 20%; display: inline-block;">
        <label asp-for="Search">Search: </label>
        <input class="form-control" asp-for="Search" placeholder="Search by name & email" />
    </div>
    <div>
        <span style="display: block;" asp-validation-for="Search" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="View" style="margin-top: 10px;" />

    @if (Model.Users.Count() == 0)
    {
        <div style="margin-top: 30px;">
            <span>No users to show!</span>
        </div>
    }
    else
    {
        <partial name="~/Areas/Shared/Views/Shared/_Pagination.cshtml" model="@Model" />

        <table class="table">
            <thead>
                <tr>
                    <th width="50">ID</th>
                    <th width="250">Email</th>
                    <th>Name</th>
                    <th width="200">Phone Number</th>
                    <th width="100">Gender</th>
                    <th width="100">Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @(item.Gender ? "Male" : "Female")
                        </td>
                        <td>
                            <span style="display: block;">@(item.IsAdmin ? "Admin " : "")</span>
                            <span style="display: block;">@(item.IsMarketing ? "Marketing " : "")</span>
                            <span style="display: block;">@(item.IsSales ? "Sales" : "")</span>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID"><p class="btn btn-info mt-2 fa-pull-right">Edit</p></a><br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>

