@model IEnumerable<HoaLacLaptopShop.Models.User>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Account List</h1>

<p>
    <a asp-action="Create">Create New Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(item.Gender ? "Male" : "Female")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <span>@(item.IsAdmin ? "Admin | " : "")</span>
                    <span>@(item.IsMarketing ? "Marketing | " : "")</span>
                    <span>@(item.IsSales ? "Sales" : "")</span>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID"><p class="btn btn-info mt-2">Details <i class="fa-solid fa-circle-info"></i></p></a><br />
                </td>
            </tr>
        }
    </tbody>
</table>
