@using HoaLacLaptopShop.Areas.Administration.ViewModels
@model UserIndexViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="row ">
    <div class="col-sm-6">
        <h1>Account List</h1>
        <p><a asp-action="Create">Create New Account</a></p>
    </div>
    <form class="col-sm-6">
        <div class="search_box">
            <label class="control-label">Search</label>
            <input class="form-control" style="width: 50%" name="searchTerm" value="@Model.SearchTerm"/>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Gender
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Status
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(item.Gender ? "Male" : "Female")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @(item.IsDeleted ? "Disabled" : "Activate")
                </td>
                <td>
                    <span>@(item.IsAdmin ? "Admin " : "")</span>
                    <span>@(item.IsMarketing ? "Marketing " : "")</span>
                    <span>@(item.IsSales ? "Sales" : "")</span>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID"><p class="btn btn-info mt-2">Details <i class="fa-solid fa-circle-info"></i></p></a><br />
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling(Model.TotalCount / 12f); i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i, searchTerm = Model.SearchTerm })">@i</a>
            </li>
        }
    </ul>
</nav>
