@model IEnumerable<HoaLacLaptopShop.Models.LaptopCPUSeries>
<form asp-action="Search" method="get">
    <div class="form-group">
        <input type="text" name="query" class="form-control" placeholder="Search by Code or Issuer ID" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Manufacturer?.Name</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Brand</a>