@using HoaLacLaptopShop.Areas.Public.ViewModels
@model AccountDetailsViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Hello @Context.GetCurrentUser()!.Name.ToUpper()!</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Personal Details</h2>
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "envelope-open",
            Header = "Email",
            Content = Model.Account.Email
        })"/>
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "id-badge",
            Header = "Name",
            Content = Model.Account.Name
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "venus-mars",
            Header = "Gender",
            Content = Model.Account.Gender ? "Male" : "Female"
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "phone",
            Header = "Phone number",
            Content = Model.Account.PhoneNumber
        })" />
        <a href="@Url.Action("Edit", "Account")" class="btn btn-primary">Edit Account</a>
    </div>
    <div class="col-md-4">
        <h2>Orders Summary</h2>
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "archive",
            Header = "Products bought",
            Content = Model.PurchaseSummary.ProductsBought
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "truck",
            Header = "Orders placed",
            Content = Model.PurchaseSummary.OrdersPlaced
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "usd",
            Header = "Money spent",
            Content = Model.PurchaseSummary.MoneySpent.ToString("N0")
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "percent",
            Header = "Vouchers used",
            Content = Model.PurchaseSummary.VouchersUsed
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "percent",
            Header = "Total saved through discounts",
            Content = Model.PurchaseSummary.MoneySaved.ToString("N0")
        })" />

        <a asp-action="OrderHistory" class="btn btn-primary">View Order History</a>
    </div>
    <div class="col-md-4">
        <h2>Reviews Summary</h2>
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "archive",
            Header = "Products reviewed",
            Content = Model.ReviewSummary.ProductsReviewed
        })" />
        <partial name="_InfoCard.cshtml" model="@(new
        {
            Icon = "star",
            Header = "Average rating",
            Content = Model.ReviewSummary.AverageRating
        })" />
        <a asp-action="ReviewHistory" class="btn btn-primary">View Review History</a>
    </div>
</div>




@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
