@model User

@{
    ViewData["Title"] = "Profile";
}
<div>
    @{
        if (Context.IsLoggedIn())
        {
            @DateTime.Now
            <h1>Hello @Context.GetCurrentUser()!.Name.ToUpper()</h1>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Name:</strong> @Model.Name</p>
                    <p><strong>Gender:</strong> @(Model.Gender ? "Male" : "Female")</p>
                    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
                    <p>
                        <strong>Roles:</strong>
                        @{
                            if (Model.IsAdmin || Model.IsMarketing || Model.IsSales)
                            {
                                <span>@(Model.IsAdmin ? "Admin " : "")</span>
                                <span>@(Model.IsMarketing ? "Marketing " : "")</span>
                                <span>@(Model.IsSales ? "Sales" : "")</span>
                            }
                            else
                            {
                                <span>Customer</span>
                            }
                        }
                    </p>
                    <div class="text-danger">@ViewBag.Error</div>
                    <a href="@Url.Action("Edit", "Account")" class="btn btn-primary">Edit Information</a>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("ReviewHistory", "Account")" class="btn btn-primary">View Review History</a>
                    <a href="@Url.Action("OrderHistory", "Account")" class="btn btn-primary">View Order History</a>
                </div>
            </div>

            @section Scripts {
            @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }

        }
        else
        {
            <span>No info</span>
        }
    }
</div>

