@using HoaLacLaptopShop.Areas.Public.ViewModels
@model OrderHistoryViewModel
@{
    ViewData["Title"] = "Order History";
}
<h1>Order List</h1>
<a class="btn btn-primary" asp-action="Details">Back to Profile</a>
<hr />

<form asp-action="OrderHistory" method="get">
    <div class="form-group" style="display: inline-block">
        <label asp-for="Search">Search: </label>
        <input 
            style="width: unset; display: inline-block" 
            class="form-control" 
            asp-for="Search" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
    <div class="form-group pull-right" style="display: inline-block; ">
        <label asp-for="Status">Status: </label>
        <select class="form-control form-select"
                style="width: unset; display: inline-block;"
                asp-for="Status"
                asp-items="@Html.GetEnumSelectList<SelectableOrderStatus>()"
                onchange="this.form.submit();"></select>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Search"></span><br/>
        <span class="text-danger" asp-validation-for="Status"></span>
    </div>
</form>

@if (Model.Orders.Count() == 0)
{
    <span>No orders to show.</span>
}
else
{
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Items</th>
                <th>Final Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>@item.ID</td>
                    <td style="min-width: 10vw">
                        @item.OrderTime<br />
                        (@(item.OrderTime.ToTimeFromNow()))
                    </td>
                    <td>
                        @foreach (var orderItem in item.OrderDetails)
                        {
                            <a href="@Url.ActionLink("Details", "Products", new {id = orderItem.ProductId})" style="font-size: larger">@orderItem.Product.Name</a>
                            <span>x@(orderItem.Quantity)</span>
                            <br />
                        }
                        <div>
                            @foreach (var orderItem in item.OrderDetails)
                            {
                                <img width="50" src="@orderItem.Product.ProductImages.FirstOrDefault()?.GetProductImageURL()" />
                            }
                        </div>
                    </td>
                    <td style="min-width: 5vw">@string.Format("{0:N0}", item.DiscountedPrice)</td>
                    <td class="order-status">@item.Status</td>
                    <td><a asp-action="OrderDetails" asp-controller="Account" asp-route-id="@item.ID" class="btn btn-primary">View Details</a></td>
                </tr>

            }
        </tbody>
    </table>
}
