@model List<Order>
@{
    ViewData["Title"] = "Order History";
}
<h1>Order List</h1>
<a class="btn btn-primary" asp-action="Details">Back to Profile</a>
<hr />

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Items</th>
            <th>Final Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td style="min-width: 10vw">@item.OrderTime</td>
                <td>
                    @foreach (var orderItem in item.OrderDetails)
                    {
                        <a href="@Url.ActionLink("Details", "Products", new {id = orderItem.ProductId})" style="font-size: larger">@orderItem.Product.Name</a>
                        <span>x@(orderItem.Quantity)</span>
                        <br />
                    }
                    <div>
                        @foreach (var orderItem in item.OrderDetails)
                        {
                            <img width="50" src="@orderItem.Product.ProductImages.FirstOrDefault()?.GetProductImageURL()" />
                        }
                    </div>
                </td>
                <td style="min-width: 5vw">@string.Format("{0:N0}", item.DiscountedPrice)</td>
                <td class="order-status">@item.Status</td>
                <td><a asp-action="OrderDetails" asp-controller="Account" asp-route-id="@item.ID" class="btn btn-primary">View Details</a></td>
            </tr>

        }
    </tbody>
</table>

