@model HoaLacLaptopShop.Areas.Public.ViewModels.ReviewHistoryViewModel

<h1>Review List</h1>
<div>
    <a class="btn btn-primary" asp-action="Details">Back to Profile</a>
</div>
<hr/>

<form asp-action="ReviewHistory" method="get">
    <div class="form-group" style="display: inline-block">
        <label asp-for="Search">Search: </label>
        <input style="width: unset; display: inline-block"
               class="form-control"
               asp-for="Search" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
    <div class="form-group pull-right" style="display: inline-block; ">
        <label asp-for="StarCount">Star Count: </label>
        <select class="form-control form-select"
                style="width: unset; display: inline-block;"
                asp-for="StarCount"
                onchange="this.form.submit();">
            <option value="0">Any</option>
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i @(i == 1 ? "Star" : "Stars")</option>
            }
        </select>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Search"></span><br />
        <span class="text-danger" asp-validation-for="StarCount"></span>
    </div>

    @if (Model.TotalPages == 0)
    {
        <span>No reviews to show!</span>
    }
    else
    {
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Product</th>
                    <th></th>
                    <th>Time</th>
                    <th>Rating</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.ProductReviews)
                {
                    <tr>
                        <td>
                            <img src="@review.Product.ProductImages.First().GetProductImageURL()"
                                 alt=""
                                 style="width: 50px; height: 50px; object-fit: contain" />
                        </td>
                        <td>@review.Product.Name</td>
                        <td>@($"{review.ReviewTime} ({review.ReviewTime.ToTimeFromNow()})")</td>
                        <td style="width: 120px;">
                            @{
                                int i = 0;
                                @for (i = 0; i < @review.Rating; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (; i < 5; i++)
                                {
                                    <i class="fa-regular fa-star"></i>
                                }
                            }
                        </td>
                        <td style="overflow: hidden; text-overflow: ellipsis; max-width: 300px; white-space: nowrap;">
                            @review.Content
                        </td>
                        <td>
                            <a class="btn btn-primary" href="@Url.ActionLink("Details", "Products", new {id = review.ProductId}, fragment: "reviews")">View</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

        <partial name="~/Areas/Shared/Views/Shared/_Pagination.cshtml" model="@Model" />
    }
    
</form>
