@model HoaLacLaptopShop.Areas.Public.ViewModels.ReviewDetailViewModel

<partial name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml"
         model="@(new{ Heading = "Reviews", Subheading = $"#({Model.User.ID} {Model.ProductReview.ProductId})"})" />
<div>
    <a class="btn btn-primary" asp-action="ReviewHistory">Back to List</a>
</div>
<hr />

<div>
    <div class="row">
        <div class="col-md-6" style="border-right: 1px solid #ccc">
            <h1>Product</h1>
            <div class="row">
                <div class="col-md-6 product-information">
                    <img id="product-main-img"
                         src="@Model.Product.ProductImages.FirstOrDefault()?.GetProductImageURL()"
                         style="height:200px; width:200px"
                         alt="" />
                </div>
                <div class="col-md-6" style="height:100%">
                    <div id="product-information" class="product-information" style="height:100%">
                        <div>
                            <h2>@Model.Product.Name</h2>
                            <p id="product-price">@Model.Product.Price.ToString("N0")</p>
                        </div>
                        <div>
                            <p><b>Brand:</b> @Model.Product.Brand.Name</p>
                        </div>
                    </div><!--/product-information-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Reviewer</h1>
            <br />
            <div class="row">
                <h3>Name: @Model.User.Name</h3>
                <h3>Email: @Model.User.Email</h3>
                <h3>Phone number: @Model.User.PhoneNumber</h3>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <h1>Review</h1>
        <div class="col-sm-12">

            <div>
                <h5 style="display: inline;">Reviewer name:</h5>
                <label style="display: inline;"><i class="fa fa-user"></i> @Model.User.Name</label>
            </div>
            <br />
            <div>
                <h5 style="display: inline;">Review time: </h5>
                <label style="display: inline;"><i class="fa-solid fa-clock"></i> @Model.ProductReview.ReviewTime</label>
            </div>
            <div>
                <h5 style="display: inline;">Rating: </h5>
                <span style="display: inline;">
                    <ul style="display: inline; padding: 0; margin: 0; list-style-type: none;">
                        @{
                            int i = 0;
                            for (i = 0; i < Model.ProductReview.Rating; i++)
                            {
                                <li style="display: inline;">
                                    <svg class="fa-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
                                    </svg>
                                </li>
                            }
                            for (; i < 5; i++)
                            {
                                <li style="display: inline;">
                                    <svg class="fa-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                        <path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z" />
                                    </svg>
                                </li>
                            }
                        }
                    </ul>
                </span>
            </div>
            <div>
                <h5 style="display: inline;">Comment: </h5>
                <p style="display: inline;">@Model.ProductReview.Content</p>
            </div>


        </div>
    </div>
</div>
<hr />
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}