@using HoaLacLaptopShop.Areas.Public.ViewModels
@model Order
@{
    ViewData["Title"] = "Cart";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />
<style>
    .blurred-row {
        filter: blur(0.8px);
        opacity: 0.6;
    }
</style>

<h1>Cart</h1>
<hr/>

<section id="cart_items">
    @*
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li >Shopping Cart</li>
            <li class="active">Shopping Cart</li>
        </ol>
    </div>
    *@
    @if (Model.OrderDetails.Count == 0)
    {
        <div>Nothing added to the cart yet. Add some!</div>
        <a class="btn btn-primary" href="@Url.ActionLink("Index", "Products")">Browse Products</a>
    }
    else
    {
        <div class="table-responsive cart_info">
            <table class="table table-hover table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th class="image" class="cart-image">Item</th>
                        <th class="description"></th>
                        <th style="text-align: center" class="price" class="cart-price">Price</th>
                        <th style="text-align: center" class="quantity">Quantity</th>
                        <th style="text-align: center" class="total">Total</th>
                        <th style="text-align: center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr style="align-items:center">
                            <td class="cart-image">
                                <img src="@item.Product.ProductImages.First().GetProductImageURL()"
                                     alt="@item.Product.Brand"
                                     class="img-fluid" style="width: 100px; height: 100px; margin: 10px" />
                            </td>
                            <td class="cart-name">
                                <span><a href="@Url.Action("Details", "Products", new {id = item.ProductId})">@item.Product.Name</a></span>
                            </td>
                            <td style="text-align: center">
                                <span>@item.ProductPrice.ToString("N0")</span>
                            </td>
                            <td class="cart_quantity">
                                <div class="d-flex align-items-center" style="justify-content: center;">
                                    <form asp-controller="Cart" asp-action="ModifyQuantity">
                                        <input type="hidden" name="productID" value="@item.ProductId" />
                                        <button type="submit" class="btn btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </form>
                                    <input class="form-control text-center" type="text"
                                           name="quantity" value="@item.Quantity"
                                           autocomplete="off" style="width: 50px; margin: 10px"
                                           readonly>
                                    <form asp-controller="Cart" asp-action="ModifyQuantity">
                                        <input type="hidden" name="productID" value="@item.ProductId" />
                                        <input type="hidden" name="quantity" value="-1" />
                                        <button type="submit" class="btn btn-sm" @(item.Quantity <= 1 ? "disabled" : "")>
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <td style="text-align: center">
                                <strong>@item.SubTotal.ToString("N0")</strong>
                            </td>
                            <td class="cart_delete">
                                <form asp-action="RemoveFromCart" asp-controller="Cart" style="opacity: 1 !important; display: flex; justify-content: center; align-items: center;">
                                    <input type="hidden" name="productID" value="@item.ProductId" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <section id="do_action">
            <div class="row" style="align-items: flex-end">
                <div class="col-sm-6" style="float: right; padding: 0">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>@Model.OrderDetails.Sum(c => c.SubTotal).ToString("N0")</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>@Model.OrderDetails.Sum(c => c.SubTotal).ToString("N0")</span></li>
                        </ul>
                        @*<a class="btn btn-default update" href="">Update</a>*@
                        <a class="btn btn-default check_out" asp-action="Index" asp-controller="Checkout" style="margin-left: 40px;">Check Out</a>
                    </div>
                </div>
            </div>

        </section>
    }
</section> 

<style>
    .cart-image
    {
        width: 120px;
    }
    .cart-name
    {
        font-size: 20px;
    }
</style>


<!--/#cart_items-->

@* <section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Use Coupon Code</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Use Gift Voucher</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimate Shipping & Taxes</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Country:</label>
                            <select>
                                <option>United States</option>
                                <option>Bangladesh</option>
                                <option>UK</option>
                                <option>India</option>
                                <option>Pakistan</option>
                                <option>Ucrane</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Region / State:</label>
                            <select>
                                <option>Select</option>
                                <option>Dhaka</option>
                                <option>London</option>
                                <option>Dillih</option>
                                <option>Lahore</option>
                                <option>Alaska</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Get Quotes</a>
                    <a class="btn btn-default check_out" href="">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span></span></li>
                        <li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action--> *@