@using HoaLacLaptopShop.Areas.Administration.ViewModels
@using System.Collections.Generic
@model BrandStatsViewModel

<partial name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml"
         model="@(new{ Heading = "Sales", Subheading = $"Brand #{Model.Brand.ID}"})" />

<form asp-action="Brand" method="get">
    <div class="form-group">
        <select class="form-control form-select" style="width: unset; display: inline-block" asp-for="TimeRange" asp-items="@(Html.GetEnumSelectList<TimeRange>())"></select>
        <select class="form-control form-select" style="width: unset; display: inline-block" asp-for="TimeSegment" asp-items="@(Html.GetEnumSelectList<TimeSegment>())"></select>
        <input class="btn btn-primary" type="submit" value="Show" />
        <a class="btn btn-primary" asp-action="Sales">Back to General Sales</a>
    </div>
</form>
<a class="btn btn-primary" asp-action="Sales"></a>

<hr />

<h3>General Statistics</h3>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-sm-6">
                <partial name="_SalesStatCard.cshtml"
                         model="@(new
                    {
                        Heading = "Units Sold",
                        Icon = "truck",
                        Value = Model.GeneralStats.UnitsSold
                    })" />
                <partial name="_SalesStatCard.cshtml"
                         model="@(new
                    {
                        Heading = "Buyers",
                        Icon = "users",
                        Value = Model.GeneralStats.Customers
                    })" />
            </div>
            <div class="col-sm-6">
                <partial name="_SalesStatCard.cshtml"
                         model="@(new
                    {
                        Heading = "Gross Sales",
                        Icon = "dollar-sign",
                        Value = string.Format("{0:N0}", Model.GeneralStats.GrossSales)
                    })" />
                <partial name="_SalesStatCard.cshtml"
                         model="@(new
                    {
                        Heading = "Orders",
                        Icon = "shopping-cart",
                        Value = Model.GeneralStats.NumberOfOrders
                    })" />
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Sales @Model.TimeRange</h5>
            </div>
            <div class="card-body d-flex w-100">
                <div class="align-self-center chart chart-lg">
                    <canvas id="chartjs-dashboard-bar"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Top Selling Products</h5>
            </div>
            <table class="table my-0">
                <thead>
                    <tr>
                        <th style="white-space: nowrap">Name</th>
                        <th style="white-space: nowrap">Units Sold</th>
                        <th style="white-space: nowrap">Gross Sales</th>
                        <th style="white-space: nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TopProducts)
                    {
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div class="bg-light rounded-2">
                                            <img class="p-2"
                                                 src="@(item.Key.ProductImages.FirstOrDefault()?.GetProductImageURL())"
                                                 style="width: 40px; height: 40px">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <strong>@item.Key.Name</strong>
                                        <div class="text-muted">
                                            @item.Key.Brand.Name
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>@item.Value.UnitsSold</td>
                            <td>@item.Value.GrossSales.ToString("N0")</td>
                            <td class="d-none d-xl-table-cell">
                                <a asp-controller="Statistics" asp-action="Product" asp-route-id="@item.Key.ID" class="btn btn-primary">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="~/Areas/Administration/Views/Statistics/_ChartInit.cshtml" model="@Model"></partial>
}
