﻿@using HoaLacLaptopShop.Areas.Administration.ViewModels
@model List<Order>
<main class="content">
	<div class="container-fluid p-0">

		<div class="row mb-2 mb-xl-3">
			<div class="col-auto d-none d-sm-block">
				<h3><strong>Analytics</strong> Dashboard</h3>
			</div>

			<div class="col-auto ms-auto text-end mt-n1">
				<a href="#" class="btn btn-light bg-white me-2">Invite a Friend</a>
				<a href="#" class="btn btn-primary">New Project</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-xxl-5 d-flex">
				<div class="w-100">
					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Sales</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="truck"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">@string.Format("{0:N0}", ViewBag.SalesMoney)</h1>
									<div class="mb-0">
										<span class="badge badge-primary-light"> <i class="mdi mdi-arrow-bottom-right"></i> @string.Format("{0:N0}", ViewBag.SalesPercentage)% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Visitors</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="users"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">14.212</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Earnings</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="dollar-sign"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">$21.300</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Orders</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-cart"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3">@ViewBag.OrderCount</h1>
									<div class="mb-0">
										<span class="badge badge-danger-light"> <i class="mdi mdi-arrow-bottom-right"></i> @ViewBag.OrderPercentage%</span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-xl-6 card flex-fill">
				<div class="card-header">			
					<h5 class="card-title mb-0">Calendar</h5>
				</div>
				<div class="card-body d-flex">
					<div class="align-self-center w-100">
						<div class="chart">
							<div id="datetimepicker-dashboard"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-8 col-xxl-9 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<h5 class="card-title mb-0">Top 5 Selling Products</h5>
					</div>
					<table class="table table-borderless my-0">
						<thead>
							<tr>
								<th>Name</th>
								<th class="d-none d-xxl-table-cell">Company</th>
								<th>Numbers</th>
								<th class="d-none d-xl-table-cell">Action</th>
							</tr>
						</thead>
						<tbody>
							@if (ViewBag.TopSellingProducts != null)
							{
								foreach (var item in ViewBag.TopSellingProducts)
								{
									<tr>
										<td>
											<div class="d-flex">
												<div class="flex-shrink-0">
													<div class="bg-light rounded-2">
														<img class="p-2" src="~/images/404/404.png" style="width: 40px; height: 40px">
														@* @item.Product.ProductImages.Get(0) *@
													</div>
												</div>
												<div class="flex-grow-1 ms-3">
													<strong>@item.Product.ID</strong>
													<div class="text-muted">
														@item.Product.Name
													</div>
												</div>
											</div>
										</td>
										<td class="d-none d-xxl-table-cell">
											<strong>Lechters</strong>
											<div class="text-muted">
												@item.Product.Brand.Name
											</div>
										</td>
										<td>
											<div class="d-flex flex-column w-100">
												<span class="me-2 mb-1 text-muted">@item.Count</span>
											</div>
										</td>
										<td class="d-none d-xl-table-cell">
											<a href="#" class="btn btn-light">View</a>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-xxl-3 d-flex">
				<div class="card flex-fill w-100">
					<div class="card-header">					
						<h5 class="card-title mb-0">Weekly Sales</h5>
					</div>
					<div class="card-body d-flex w-100">
						<div class="align-self-center chart chart-lg">
							<canvas id="chartjs-dashboard-bar"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type: "pie",
			data: {
				labels: ["Chrome", "Firefox", "IE", "Other"],
				datasets: [{
					data: [4306, 3801, 1689, 3251],
					backgroundColor: [
						window.theme.primary,
						window.theme.warning,
						window.theme.danger,
						"#E8EAED"
					],
					borderWidth: 5,
					borderColor: window.theme.white
				}]
			},
			options: {
				responsive: !window.MSInputMethodContext,
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				cutoutPercentage: 70
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Bar chart
		var salesData = @Html.Raw(Json.Serialize(ViewBag.SalesData));

		new Chart(document.getElementById("chartjs-dashboard-bar"), {
			type: "bar",
			data: {
				labels: getLabels(),
				datasets: [{
					label: "This Day",
					backgroundColor: window.theme.primary,
					borderColor: window.theme.primary,
					hoverBackgroundColor: window.theme.primary,
					hoverBorderColor: window.theme.primary,
					data: salesData,
					barPercentage: .75,
					categoryPercentage: .5
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				scales: {
					yAxes: [{
						gridLines: {
							display: false
						},
						stacked: false,
						ticks: {
							stepSize: 20
						}
					}],
					xAxes: [{
						stacked: false,
						gridLines: {
							color: "transparent"
						}
					}]
				}
			}
		});

		function getLabels() {
			var currentDate = new Date();
			var labels = [];
			for (var i = 0; i < 7; i++) {
				var date = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - i);
				var day = date.getDate();
				var month = date.getMonth() + 1;
				var formattedDate = day + "/" + month;
				labels.unshift(formattedDate);
			}
			return labels;
		}
	});
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
		var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
		document.getElementById("datetimepicker-dashboard").flatpickr({
			inline: true,
			prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
			nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			defaultDate: defaultDate
		});
	});
</script>