@model HoaLacLaptopShop.Models.NewsPost
@using HoaLacLaptopShop.Helpers

@{
    ViewData["Title"] = "News Post";
}

<h1>@Model.Title</h1>
<h4><span>Posted at <b>@Model.Time.ToString("hh:mm:ss tt")</b> at <b>@Model.Time.ToString("yyyy-MM-dd")</b> by <b>@Model.Author!.Name</b></span></h4>
<hr />
<div style="margin-bottom: 20px"><div>@Html.Raw(Model.Content)</div></div>
<div>
    @{
        var user = Context.GetCurrentUser();
        if (user != null)
        {
            if (user.IsSales && (user.IsAdmin || user.ID == Model.AuthorId))
            {
                <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a><span> | </span>
                <a asp-action="Delete" asp-route-id="@Model?.ID">Delete</a><span> | </span>
            }
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
