@model HoaLacLaptopShop.Areas.Administration.ViewModels.ReviewIndexViewModel
@using HoaLacLaptopShop.Areas.Administration.Controllers

<partial 
    name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml" 
    model="@(new{ Heading = "Reviews", Subheading = $"List"})" 
/>
<hr/>

<form asp-action="Index" method="get">

    <div class="form-group" style="width: 20%; display: inline-block;">
        <label asp-for="Search">Search: </label>
        <input class="form-control" asp-for="Search" placeholder="Search by content or names" />
    </div>
    <div class="form-group" style="width: 20%; display: inline-block;">
        <label asp-for="StarCount">Star Count: </label>
        <select asp-for="StarCount" class="form-control form-select" onchange="this.form.submit();">
            <option value="0">Any</option>
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i @(i == 1 ? "Star" : "Stars")</option>
            }
        </select>
    </div>
    <div>
        <span style="display: block;" asp-validation-for="Search" class="text-danger"></span>
        <span style="display: block;" asp-validation-for="StarCount" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="View" style="margin-top: 10px;" />


    @if (Model.ProductReviews.Count() == 0)
    {
        <div style="margin-top: 30px;">
            <span>No reviews to show!</span>
        </div>
    }
    else
    {
        <partial name="~/Areas/Shared/Views/Shared/_Pagination.cshtml" model="@Model" />

        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th width="30%">Name</th>
                    <th>Reviewer</th>
                    <th>Time</th>
                    <th width="10%">Rating</th>
                    <th width="30%">Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.ProductReviews)
                {
                    <tr>
                        <td>
                            <img src="@review.Product.ProductImages.First().GetProductImageURL()"
                                 alt=""
                                 style="width: 50px; height: 50px; object-fit: contain" />
                        </td>
                        <td><strong>@review.Product.Name</strong><br />@review.Product.Brand.Name</td>
                        <td>@review.Reviewer.Name</td>
                        <td>@review.ReviewTime</td>
                        <td>
                            @{
                                int i = 0;
                                @for (i = 0; i < @review.Rating; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (; i < 5; i++)
                                {
                                    <i class="fa-regular fa-star"></i>
                                }
                            }
                        </td>
                        <td class="admin-table-long">@review.Content</td>
                        <td>
                            <a asp-action="Details" asp-route-pid="@review.ProductId" asp-route-rid="@review.ReviewerId">
                                <p class="btn btn-success" style="width:90px">
                                    <i class="fa-solid fa-eye"></i> View
                                </p>
                            </a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    }
    
</form>
