@model IEnumerable<HoaLacLaptopShop.Data.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScreenSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenAspectRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefreshRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpuSeriesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpuSeriesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenAspectRatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefreshRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpuSeriesNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpuSeriesNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
