@model HoaLacLaptopShop.Models.Product
@{
    ViewData["Title"] = "Detail";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @*<h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Sportswear
                    </a>
                    </h4>
                    </div>
                    <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                    <ul>
                    <li><a href="">Nike </a></li>
                    <li><a href="">Under Armour </a></li>
                    <li><a href="">Adidas </a></li>
                    <li><a href="">Puma</a></li>
                    <li><a href="">ASICS </a></li>
                    </ul>
                    </div>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Mens
                    </a>
                    </h4>
                    </div>
                    <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                    <ul>
                    <li><a href="">Fendi</a></li>
                    <li><a href="">Guess</a></li>
                    <li><a href="">Valentino</a></li>
                    <li><a href="">Dior</a></li>
                    <li><a href="">Versace</a></li>
                    <li><a href="">Armani</a></li>
                    <li><a href="">Prada</a></li>
                    <li><a href="">Dolce and Gabbana</a></li>
                    <li><a href="">Chanel</a></li>
                    <li><a href="">Gucci</a></li>
                    </ul>
                    </div>
                    </div>
                    </div>

                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Womens
                    </a>
                    </h4>
                    </div>
                    <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                    <ul>
                    <li><a href="">Fendi</a></li>
                    <li><a href="">Guess</a></li>
                    <li><a href="">Valentino</a></li>
                    <li><a href="">Dior</a></li>
                    <li><a href="">Versace</a></li>
                    </ul>
                    </div>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Kids</a></h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Fashion</a></h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Households</a></h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Interiors</a></h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Clothing</a></h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Bags</a></h4>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Shoes</a></h4>
                    </div>
                    </div>
                    </div><!--/category-products--> *@

                    @*await Component.InvokeAsync("Brand")*@

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        @* <div class="well">
                        <form id="priceForm" asp-controller="Product" asp-action="FilterByPrice">
                        <input type="text" class="span2" data-slider-min="0" data-slider-max="60000000" name="maxPrice" data-slider-step="1000000" id="sl2">
                        <br />
                        <b>0</b> <b class="pull-right">60,000,000</b>
                        </form>
                        </div> *@
                        <form id="priceForm" asp-controller="Product" asp-action="FilterByPrice" style="margin-bottom:5px;">
                            <span style="margin-bottom: 5px;">
                                <input type="text" id="price" readonly style="border:0;font-weight:bold" />
                                <input type="hidden" name="minPrice" value="" />
                                <input type="hidden" name="maxPrice" value="" />
                                <button type="submit" class="btn btn-info">View</button>
                            </span>

                            <div id="slider"></div>
                        </form>
                    </div><!--/price-range-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="@(Model.ProductImages.FirstOrDefault()?.Link ?? "")" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                @* <div class="item active">
                                <span>

                                @foreach (var item in Model.Link)
                                {

                                <img src="@item" alt="">

                                }
                                </span>
                                </div> *@
                                <div class="item">
                                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="~/images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>@Model.Name</h2>
                            @* <p>Web ID: 1089772</p> *@
                            @* <img src="images/product-details/rating.png" alt="" /> *@
                            <span>
                                <span>@Model.Price.ToString("N0")</span>
                                <label>Quantity:</label>
                                <input type="text" value="3" />
                            </span>

                            <p>
                                <b>Availability:</b>
                                @if (Model.Stock > 0)
                                {
                                    <span>In Stock</span>
                                }
                                else
                                {
                                    <span>Out of Stock</span>
                                }
                            </p>
                            <p><b>Brand:</b> @Model.Brand.Name</p>
                            <button type="button" class="btn btn-fefault cart">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">Details</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                            <li><a href="#tag" data-toggle="tab">Tag</a></li>
                            <li><a href="#reviews" data-toggle="tab">Reviews (@Model.ProductReviews.Count())</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">
                            <p>@Model.Description</p>

                        </div>

                        <div class="tab-pane fade" id="companyprofile">
                            <p><b>Name:</b> @Model.Brand.Name</p>
                            <p><b>From:</b> @Model.Brand.Country</p>
                            <p><b>Description:</b> @Model.Brand.Description</p>
                        </div>

                        <div class="tab-pane fade" id="tag">
                            <p>Not yet</p>
                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                @* <ul>
                                <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> *@
                                @if (Model.ProductReviews.Count() > 0)
                                {
                                    @foreach (var review in Model.ProductReviews)
                                    {

                                        <ul>
                                            <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                            <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                        </ul>
                                        <p>@review.Content</p>
                                    }
                                }
                                else
                                {
                                    <p>No review yet</p>
                                }
                                <p><b>Write Your Review</b></p>

                                <form action="#">
                                    <span>
                                        <input type="text" placeholder="Your Name" />
                                        <input type="email" placeholder="Email Address" />
                                    </span>
                                    <textarea name=""></textarea>
                                    <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                                    <button type="button" class="btn btn-default pull-right">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @*
                                @foreach (var related in Model.RelatedProducts)
                                {

                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="@related.Link.FirstOrDefault()" alt="" />
                                                    <h2>@related.Price.ToString("N0")</h2>
                                                    <p>@related.Name</p>
                                                    <a asp-controller="Product" asp-action="Detail" asp-route-pid="@related.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                *@

                            </div>
                        </div>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#slider").slider({
                range: true,
                min: 0,
                max: 60000000,
                step: 1000000,
                values: [0, 60000000],
                slide: function (event, ui) {
                    $("#price").val(ui.values[0] + " - " + ui.values[1]);
                    var min = ui.values[0];
                    var max = ui.values[1];
                    $("input[name='minPrice']").val(min);
                    $("input[name='maxPrice']").val(max);

                }
            });
        });
    </script>
}