@using HoaLacLaptopShop.Helpers
@model HoaLacLaptopShop.Models.Product
@{
    ViewData["Title"] = "Detail";
}

<style>
    .fa-star{
        width: 15px;
        height: 15px;
    }

    #product-price {
        color: #FE980F;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: 0px;
    }

    #product-details {
        margin-bottom: 30px;
        height: 250px;
    }

    #product-information {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    #product-main-img {
        display: block;
        margin: auto;
    }

    .product-information {
        border: 2px solid #F7F7F0;
        overflow: hidden;
        padding: 30px;
        position: relative;
    }

        .product-information h2 {
            color: #363432;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-top: 0;
        }

        .product-information p {
            color: #696763;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 5px;
        }

        .product-information span {
            display: inline-block;
            margin-bottom: 8px;
            margin-top: 18px;
        }

            .product-information span span {
                color: #FE980F;
                float: left;
                font-family: 'Roboto', sans-serif;
                font-size: 30px;
                font-weight: 700;
                margin-right: 20px;
                margin-top: 0px;
            }

            .product-information span input {
                border: 1px solid #DEDEDC;
                color: #696763;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 700;
                height: 33px;
                outline: medium none;
                text-align: center;
                width: 50px;
            }

            .product-information span label {
                color: #696763;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                margin-right: 5px;
            }

    .tab-pane{
        margin:10px
    }

</style>

<section>
    <div class="container">
        <div class="row">
            <div id="product-details">
                <!--product-details-->
                <div class="col-sm-4 product-information" style="height:100%">
                    <div id="view-product" style="height:100%">
                        <img id="product-main-img"
                             src="@Model.ProductImages.First().GetProductImageURL()"
                             style="object-fit: cover; height:100%"
                                alt="" />
                    </div>
                </div>

                <div class="col-sm-8" style="height:100%">
                    <div id="product-information" class="product-information" style="height:100%">
                        <div>
                            <h2>@Model.Name</h2>
                            <p id="product-price">@Model.Price.ToString("N0")</p>
                        </div>
                        <div>
                            <p><b>Quantity:</b> @Model.Stock</label></p>
                            <p><b>Brand:</b> @Model.Brand.Name</p>
                        </div>
                        <div id="purchase-buttons">
                            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                            {
                                <input type="number" name="quantity" value="1" min="1" max="@Model.Stock"/>
                                <input type="hidden" name="id" value="@Model.ID"/>
                                <button type="submit" class="btn btn-fefault cart pull-right">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            }
                        </div>

                    </div><!--/product-information-->
                </div>
            </div><!--/product-details-->

            <div class="category-tab shop-details-tab">
                <!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li><a href="#details" data-toggle="tab">Details</a></li>
                        <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews (@Model.ProductReviews.Count())</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade" id="details">
                        @if(Model.IsLaptop)
                        {
                            <p>CPU: <span>@Model.Laptop.CPUSeries.Name</span></p>
                            <p>GPU: <span>@Model.Laptop.GPUSeries.Name</span><br /></p>
                            <p>
                                Screen size: <span>@Model.Laptop.ScreenSize inch</span><br />
                            </p>
                            <p>
                                Screen resolution: <span>@Model.Laptop.ScreenResolution</span><br />
                            </p>
                            <p>
                                Screen ratio: <span>@Model.Laptop.ScreenAspectRatio</span><br />
                            </p>
                            <p>
                                Storage : <span>
                                  
                                                        @Model.Laptop.StorageSize @if (@Model.Laptop.StorageType.ToString().Equals(1))
                            {
                                <span>HDD</span>
                            }
                            else
                            {
                                <span>SSD</span>
                            }</span>
                            </p>
                        } else
                        {
                            @Model.Description
                        }

                    </div>

                    <div class="tab-pane fade" id="companyprofile">
                        <p><b>Name:</b> @Model.Brand.Name</p>
                        <p><b>From:</b> @Model.Brand.Country</p>
                        <p><b>Description:</b> @Model.Brand.Description</p>
                    </div>

                    <div class="tab-pane fade active in" id="reviews">
                        <div class="col-sm-12">
                            @if (Model.ProductReviews.Count() > 0)
                            {
                                @foreach (var review in Model.ProductReviews)
                                {
                                    <ul>
                                        <li><label><i class="fa fa-user"></i> @review.Reviewer.Name</label></li>
                                        <span>
                                            <ul>
                                                @{
                                                    int i = 0;
                                                    @for (i = 0; i < @review.Rating; i++)
                                                    {
                                                        <svg class="fa-star" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" /></svg>
                                                    }
                                                    @for (; i < 5; i++)
                                                    {
                                                        <svg class="fa-star" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z" /></svg>
                                                    }
                                                }
                                                
                                            </ul>
                                        </span>
                                    </ul>
                                    <p>@review.Content</p>
                                }
                            }
                            else
                            {
                                <p>No reviews yet</p>
                            }

                            @*
                            <p><b>Write Your Review</b></p>

                            <form action="#">
                                <span>
                                    <input type="text" placeholder="Your Name" />
                                    <input type="email" placeholder="Email Address" />
                                </span>
                                <textarea name=""></textarea>
                                <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                                <button type="button" class="btn btn-default pull-right">
                                    Submit
                                </button>
                            </form>
                            *@
                        </div>
                    </div>

                </div>
            </div><!--/category-tab-->

            @*
            <div class="recommended_items">
                <!--recommended_items-->
                <h2 class="title text-center">recommended items</h2>

                <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            @foreach (var related in Model.RelatedProducts)
                            {

                            <div class="col-sm-4">
                            <div class="product-image-wrapper">
                            <div class="single-products">
                            <div class="productinfo text-center">
                            <img src="@related.Link.FirstOrDefault()" alt="" />
                            <h2>@related.Price.ToString("N0")</h2>
                            <p>@related.Name</p>
                            <a asp-controller="Product" asp-action="Detail" asp-route-pid="@related.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            </div>
                            </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div><!--/recommended_items-->
            *@
        </div>
    </div>
</section>
