@using HoaLacLaptopShop.Areas.Administration.ViewModels
@model List<Order>

<div class="mb-3">
    <h1 class="h3 d-inline align-middle">Responsive DataTables</h1>
    <a class="badge bg-primary ms-2" href="https://adminkit.io/pricing/" target="_blank">Pro Component <i class="fas fa-fw fa-external-link-alt"></i></a>
</div>

<div class="row">
    <div class="card">
        @* <div class="card-header">
            <h5 class="card-title">Responsive DataTables</h5>
            <h6 class="card-subtitle text-muted">
                Highly flexible tool that many advanced features to any HTML table. See official
                documentation <a href="https://datatables.net/extensions/responsive/" target="_blank"
                                 rel="noopener noreferrer nofollow">here</a>.
            </h6>
        </div> *@
        <div class="d-flex align-content-center mb-2" style="justify-content: flex-end">
            @* <h2>Order Status Filter</h2> *@
            <div class="form-group ml-3" style="width: 300px">
                <label for="orderStatus">Select Order Status:</label>
                <select id="orderStatus" class="form-control">
                    <option value="All">All</option>
                    <option value="Delivering">Delivering</option>
                    <option value="Created">Created</option>
                    <option value="Finished">Finished</option>
                </select>
            </div>
        </div>
        <div class="card-body">
            
            <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Created</th>
                        <th>Customer Name</th>
                        <th>Title</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.OrderTime</td>
                            <td>@item.Buyer.Name</td>
                            <td>
                                @foreach(var orderItem in item.OrderDetails)
                                {
                                    <span>@orderItem.Quantity @orderItem.Product.Name</span><br />
                                }
                            </td>
                            <td>@string.Format("{0:N0}", item.TotalPrice)</td>
                            <td class="order-status">@item.Status</td>
                            <td><a asp-action="Details" asp-controller="Orders" asp-route-id="@item.ID" class="btn btn-primary">View Details</a></td>
                        </tr>                      
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Datatables Responsive
        $("#datatables-reponsive").DataTable({
            responsive: true
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#orderStatus').change(function () {
            var selectedStatus = $(this).val();
            $('#datatables-reponsive tbody tr').each(function () {
                var row = $(this);
                var status = row.find('.order-status').text();
                if (selectedStatus === "All" || status === selectedStatus) {
                    row.show();
                } else {
                    row.hide();
                }
            });
        });
    });
</script>
