@using HoaLacLaptopShop.Areas.Administration.ViewModels
@model VoucherIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<partial 
    name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml"
    model="@(new{ Heading = "Vouchers", Subheading = $"List"})" 
/>
<a asp-action="Add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add</a>
<hr/>

<form asp-action="Index" method="get">
    <div class="form-group" style="width: 20%; display: inline-block;">
        <label asp-for="Search">Search: </label>
        <input class="form-control" asp-for="Search" />
    </div>
    <div class="form-group" style="width: 20%; display: inline-block;">
        <label asp-for="MinimumOrderPrice">Minimum Order Price: </label>
        <input class="form-control" asp-for="MinimumOrderPrice" />
    </div>
    <div class="form-group" style="width: 20%; display: inline-block;">
        <input class="form-check-input" asp-for="ShowExpired" />
        <label asp-for="ShowExpired">Show Expired</label>
    </div>
    <div>
        <span style="display: block;" asp-validation-for="Search" class="text-danger"></span>
        <span style="display: block;" asp-validation-for="MinimumOrderPrice" class="text-danger"></span>
        <span style="display: block;" asp-validation-for="ShowExpired" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px;"><i class="fa-solid fa-eye"></i> View</button>

    @if (Model.Vouchers.Count() == 0)
    {
        <div style="margin-top: 30px;">
            <span >No vouchers to show!</span>
        </div>
    }
    else
    {
        <partial name="~/Areas/Shared/Views/Shared/_Pagination.cshtml" model="@Model" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th width="10%">Minimum Order Price</th>
                    <th width="10%">Discount Value</th>
                    <th width="10%">Expiry Date</th>              
                    <th width="20%">Issuer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var voucher in Model.Vouchers)
                {
                    <tr class="@(voucher.IsDisabled ? "admin-row-disabled" : (voucher.ExpiryDate < DateTime.Now ? "admin-row-warning" : "")) ">
                        <td>@voucher.Code</td>
                        <td>@voucher.MinimumOrderPrice.ToString("N0")</td>
                        <td>@(voucher.IsPercentageDiscount ? $"{voucher.DiscountValue:0.00}%" : $"{voucher.DiscountValue:N0}")</td>
                        <td>@DateOnly.FromDateTime(voucher.ExpiryDate).ToString()</td>
                        <td>@voucher.Issuer.Name</td>               
                        <td>
                            <a asp-action="Edit" asp-route-id="@voucher.ID" class="btn-warning btn fa-pull-right">
                                <i class="fa-solid fa-pen"></i> Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>
