@using HoaLacLaptopShop.Areas.Administration.ViewModels.ComponentSeries
@model GPUIndexViewModel

<partial 
    name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml" 
    model="@(new{ Heading = "Component Series", Subheading = $"GPUs"})" 
/>
<a asp-action="Add" class="btn btn-primary">Add</a>
<hr />

<form asp-action="Index" method="get">
    <div class="form-group col-md-6">
        <input asp-for="Search" class="form-control" style="width: unset; display: unset" placeholder="Enter search term" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

    @if (!Model.GPUSeries.Any())
    {
        <div style="margin-top: 30px;">
            <span>No GPU Series to show!</span>
        </div>
    }
    else
    {
        <partial name="~/Areas/Shared/Views/Shared/_Pagination.cshtml" model="@Model" />

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GPUSeries)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Manufacturer?.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>
