@model ProductIndexViewModel


<div class="mb-3" style="display:flex; justify-content:space-between">
    <h1 class="h3 d-inline align-middle">
        <a href="@Url.Action("Product","Admin")">
            Product list
        </a>
    </h1>
    <a href="@Url.Action("AddProduct","Admin")" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add</a>
</div>

<div class="row">
    <div class="card">
        @* <div class="card-header">
        <h5 class="card-title">Responsive DataTables</h5>
        <h6 class="card-subtitle text-muted">
        Highly flexible tool that many advanced features to any HTML table. See official
        documentation <a href="https://datatables.net/extensions/responsive/" target="_blank"
        rel="noopener noreferrer nofollow">here</a>.
        </h6>
        </div> *@
        <div class="card-body">
            <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Brand!.Name</td>
                            <td>@product.Price.ToString("N0")</td>
                            <td>@product.Stock</td>
                            <td>
                                <img src="@product.ProductImages.First().GetProductImageURL()"
                                     alt=""
                                     style="width: 150px; height: 150px; object-fit: contain" />
                            </td>
                            <td>
                                <a><p class="btn btn-warning">Edit <i class="fa-solid fa-pen"></i></p></a><br />
                                <a><p class="btn btn-danger">Delete <i class="fa-solid fa-trash"></i></p></a> 
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalCount / 10 + 1; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Product" asp-controller="Admin" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
