﻿@using HoaLacLaptopShop.Areas.Administration.ViewModels
@using HoaLacLaptopShop.Areas.Administration.Controllers
@model ProductIndexViewModel

<partial 
    name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml" 
    model="@(new{ Heading = "Products", Subheading = "List"})" 
/>

@if(Context.GetCurrentUser()!.IsSales)
{
    <a asp-action="Add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add</a>
}
<hr />

<form asp-action="Index" method="get" class="row">

    <div class="form-group col-md-6">
        <input 
            asp-for="Search" 
            class="form-control" 
            style="width: unset; display: unset"  />
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-search  "></i> Search</button><br />
        <span asp-validation-for="Search" class="text-danger"></span>
    </div>

    @if(Model.Products.Count == 0)
    {
        <div style="margin-top: 30px;">
            <span>No products to show!</span>
        </div>
    }
    else
    {
        <partial name="~/Areas/Shared/Views/Shared/_Pagination.cshtml" model="@Model" />

        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th width="60px">ID</th>
                    <th width="60px">Image</th>
                    <th width="30%">Name</th>
                    <th width="10%">Brand</th>
                    <th width="10%">Price</th>
                    <th width="10%">Quantity</th>
                    <th width="10%">Average Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr class="@(product.IsDisabled ? "admin-row-disabled" : "")">
                        <td>@product.ID</td>
                        <td>
                            <img src="@product.ProductImages.First().GetProductImageURL()"
                                 alt=""
                                 style="width: 50px; height: 50px; object-fit: contain" />
                        </td>
                        <td>@product.Name</td>
                        <td>@product.Brand!.Name</td>
                        <td>@product.Price.ToString("N0")</td>
                        <td>@product.Stock</td>
                        <td>@($"{product.AveargeRating:0.00} ({product.ReviewCount})")</td>
                        <td>
                            @if (Context.GetCurrentUser()!.IsMarketing)
                            {
                                <a class="btn btn-success fa-pull-right" href="@Url.Action("Product", "Statistics", new { id = product.ID })">
                                    <i class="fa-solid fa-chart-simple"></i> Statistics
                                </a>
                            }
                            @if (Context.GetCurrentUser()!.IsSales)
                            {
                                <a asp-action="Edit" asp-route-id="@product.ID" class="btn btn-warning fa-pull-right">
                                    <i class="fa-solid fa-pen"></i> Edit
                                </a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

</form>
