@model ProductIndexQuery

<div class="col-sm-3">
    <form id="priceForm" asp-controller="Products" asp-action="Index" method="get" style="margin-bottom:5px;">
        <div class="search_box">
            <label asp-for="Search" class="control-label"></label>
            <input asp-for="Search" class="form-control" style="width: 100%" />
        </div>
        <div class="">
            <label class="control-label">Product Type</label>
            <br />
            <input type="checkbox" asp-for="ShowAccessories" class="checkbox-inline" />
            <label asp-for="ShowAccessories" class="control-label"></label>
            <br/>
            <input type="checkbox" asp-for="ShowLaptops" class="checkbox-inline" />
            <label asp-for="ShowLaptops" class="control-label"></label>
        </div>
        <div class="">
            <label class="control-label">Price Range</label>
            <span style="margin-bottom: 5px;" class="form-control">
                <input type="text" id="price" readonly style="border:0;font-weight:bold" />
                <input type="hidden" asp-for="MinPrice" />
                <input type="hidden" asp-for="MaxPrice" />
            </span>
            <div id="slider"></div>
        </div>
        @if(Model.ShowLaptops)
        {
            <div class="">
                <label class="control-label">CPU</label>
                <ul>
                    @for (int i = 0; i < ViewBag.ParentModel.CPUs!.Count; i++)
                    {
                        var cpu = ViewBag.ParentModel.CPUs[i];
                        var selected = Model.SelectedCPUIDs!.Contains(cpu.ID);
                        <li>
                            <input type="checkbox"
                                   id="brand_@cpu.ID"
                                   name="SelectedCpuIDs"
                                   value="@cpu.ID"
                            @(selected ? "checked" : "") />
                            <label for="cpu_@cpu.ID">@($"{cpu.Name}")</label>
                        </li>
                    }
                </ul>
            </div>
            <div class="">
                <label class="control-label">GPU</label>
                <ul>
                    @for (int i = 0; i < ViewBag.ParentModel.GPUs!.Count; i++)
                    {
                        var gpu = ViewBag.ParentModel.GPUs[i];
                        var selected = Model.SelectedGPUIDs!.Contains(gpu.ID);
                        <li>
                            <input type="checkbox"
                                   id="brand_@gpu.ID"
                                   name="SelectedGpuIDs"
                                   value="@gpu.ID"
                            @(selected ? "checked" : "") />
                            <label for="gpu_@gpu.ID">@($"{gpu.Name}")</label>
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="">
            <label class="control-label">Brands</label>
            <ul>
                @for (int i = 0; i < ViewBag.ParentModel.Brands!.Count; i++)
                {
                    var brand = ViewBag.ParentModel.Brands[i];
                    var selected = Model.SelectedBrandIDs!.Contains(brand.Brand.ID);
                    <li>
                        <input 
                            type="checkbox" 
                            id="brand_@brand.Brand.ID" 
                            name="SelectedBrandIDs"
                            value="@brand.Brand.ID" 
                            @(selected ? "checked" : "")
                        />
                        <label for="brand_@brand.Brand.ID">@($"{brand.Brand.Name} ({brand.ProductCount})")</label>
                    </li>
                }
            </ul>
        </div>

        <button type="submit" class="btn btn-info">View</button>
    </form>
</div>

<style>
    #priceForm div{
        margin-bottom: 30px
    }
</style>