@model IEnumerable<HoaLacLaptopShop.Models.Voucher>
@{
    ViewData["Title"] = "Index";
}
<h2>Vouchers</h2>
<<<<<<< Updated upstream
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Minimum Order Price</th>
            <th>Discount Value</th>
            <th>Is Percentage Discount</th>
            <th>Expiry Date</th>
            <th>Issuer ID</th>
            <th>Actions</th>
        </tr>
    </thead>
=======
<form asp-action="Search" method="get">
    <div class="form-group">
        <input type="text" name="query" class="form-control" placeholder="Search by Code or Issuer ID" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CodeSortParm"]">Code</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().MinimumOrderPrice)
                </th>
                <th>
                    <@Html.DisplayNameFor(model =>model.First().DiscountValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IsPercentageDiscount)
                </th>
                <th>
                    <@Html.DisplayNameFor(model => model.First().ExpiryDate)
                </th>              
                <th>
                    @Html.DisplayNameFor(model => model.First().IssuerId)
                </th>
                <th></th>
            </tr>
        </thead>
>>>>>>> Stashed changes
    <tbody>
        @foreach (var voucher in Model)
        {
            <tr>
                <td>@voucher.Code</td>
                <td>@voucher.MinimumOrderPrice</td>
                <td>@voucher.DiscountValue</td>
                <td>@voucher.IsPercentageDiscount</td>
                <td>@voucher.ExpiryDate.ToShortDateString()</td>
<<<<<<< Updated upstream
                <td>@voucher.IssuerId</td>
                <td>
=======
                <td>@voucher.IssuerId</td>               
                <td>
                    <a asp-action="Detail" asp-route-id="@voucher.ID">Details</a>
>>>>>>> Stashed changes
                    <a href="@Url.Action("Update", new { id = voucher.ID })">Update</a> |
                    <a href="@Url.Action("Delete", new { id = voucher.ID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Voucher</a>
