@model IEnumerable<HoaLacLaptopShop.Models.Brand>
@{
    ViewData["Title"] = "Index";
}
<h2>Detail</h2>
<form asp-action="Search" method="get">
    <div class="form-group">
        <input type="text" name="query" class="form-control" placeholder="Search by Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Country)
                </th>              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td>@brand.ID</td>
                    <td>@brand.Name</td>
                    <td>@brand.Description</td>
                    <td>@brand.Country</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@brand.ID">Details</a>
                        <a href="@Url.Action("Update", new { id = brand.ID })">Update</a> |
                        <a href="@Url.Action("Delete", new { id = brand.ID })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Brand</a>

